<h1>Employee Management System</h1>
<ul>
  <li><a href="/employees">View Employees</a></li>
  <li><a href="/departments">View Departments</a></li>
  <li><a href="/benefits">View Benefits</a></li>
  <li><a href="/payrolls">View Payrolls</a></li>
  <li><a href="/timeoffs">View Time Off Requests</a></li>
</ul>
