<h1>Employee Management System</h1>
<p>
  This is a database system that is to be utilized by small to mid-sized business to track employee data,
  time-off, benefits, and payroll.
  <br>
  Developed by: Matthew Kerr and Shawn McManus
</p>
